@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <table class="table table-bordered table-hover" id="tbBook">
        <thead class="table-primary">
            <tr>
                <th>Id</th>
                <th>BookName</th>
                <th>Author</th>
                <th>Description</th>
                <th>Year</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>


@section Scripts{
    <script src="~/js/home.js"asp-append-version="true"></script>
}